#root {
  width: 100%;
  text-align: center;
}

.product-item {
  display: inline-block;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#img-container {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.product-img {
  border-radius: 5px;
}